@font-face {
    font-family: 'SFProDisplay';
    src: url('./SFProDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SFProDisplay-Bold';
    src: url('./SFProDisplay-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}