.content {
    padding: 32px 16px 16px;
    text-align: center;
    position: relative;
}

.title {
    font-family: 'SFProDisplay-Bold', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 38px;
}

.text {
    font-size: 20px;
    line-height: 38px;
}

.btn {
    width: 100%;
    max-width: 360px;
}

.final .title {
    margin: 0 0 8px;
}

.final .text {
    margin: 0 0 40px;
}

.policy .title {
    margin-bottom: 32px;
}

.policy .text {
    text-align: left;
    height: 450px;
    overflow-y: auto;
    margin-bottom: 32px;
}

.policy .text .title {
    font-family: 'SFProDisplay-Bold', sans-serif;
    font-weight: 600;
}

.policy .text p {
    margin: 0;
}

.close {
    position: absolute;
    width: 24px;
    height: 24px;
    fill: #2F80ED;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

@media (min-width: 560px) {
    .content {
        padding: 40px;
    }
}